@charset "utf-8"; 


/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none;}
button:focus {outline: none;}

/* 전체 레이아웃 */
.product-wrap {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* ===== 왼쪽 고정 영역 ===== */
.product-left {
    position: fixed;   /* ← 진짜 고정! */
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.product-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== 오른쪽 스크롤 영역 ===== */
.product {
    margin-left: 50vw; /* 왼쪽 고정 이미지 만큼 밀기 */
    width: 50vw;
    padding: 150px 80px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* 각 product(blemish, teatree, eggplant) */
.product > div {
    margin-bottom: 300px;
}

.product .right ul {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.product .right img {
    width: 120px;
}

.product h3 {
    font-size: 48px;
    font-weight: 600;
}